.fade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
    background: #000;
}

.light{
    display: none;
    position: absolute;
    top: 15%;
    left: 10%;
    width: 1000px;
    height: 500px;
    padding: 5px;
    border: 2px solid #FFF;
    background: #F1F1F1;
    z-index:1002;
    overflow:visible;
}

.divRight{
    padding-right: 20px;
}

.panel-body{
    padding: 10px 30px;
}

.divPanelBody .row{
    margin: 5px 0;
}

.required{
    color: red;
}

.btn-upload{
    width: 70px;
    height: 70px;
    margin: 0 auto !important;
    background-image: url('../../assets/images/plus.png');
    background-size: cover;
    cursor: pointer;
}

.imgPreviewAdmin{
    max-width: 100%;
    height: auto;
}

.divControlAdmin{
    margin: 20px;
    text-align: center;
}

.divControlAdmin button{
    margin: 5px;
}

#uploadSlider, #uploadEditSlider{
    padding: 10px 5px 0 5px;
    display: none;
}

#pConfirm{
    font-weight: bold;
    font-size: 20px;
}

.panel-confirm{
    height: 185px;
}

#lightAdminConfirm{
    width: 400px;
    height: 200px;
    top: 30%;
    left: 40%;
}